<div class="table-responsive">
  <table class="table table-striped table-bordered table-sm">
      <thead>
      <tr>
          <th (click)="sort('name')" style="cursor: pointer">Name</th>
          <th (click)="sort('category')" style="cursor: pointer">Category</th>
          <th (click)="sort('amount')" style="cursor: pointer">Amount</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of Items">
          <td>{{item.name}}</td>
          <td>{{item.category}}</td>
          <td>{{item.amount}}</td>
      </tr>
  </tbody>
</table> 
</div>